#set($now = $util.time.nowEpochSeconds())
{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key" : {
    "id": $util.dynamodb.toDynamoDBJson($ctx.args.input.userId),
    "token": $util.dynamodb.toDynamoDBJson($util.autoId()),
    "iconToken": $util.dynamodb.toDynamoDBJson($util.autoId()),
    "secret": $util.dynamodb.toDynamoDBJson($util.autoId()),
    "name": $util.dynamodb.toDynamoDBJson($ctx.args.input.name),
    "createdAt": $util.dynamodb.toDynamoDBJson($now),
    "lastLoggedIn": $util.dynamodb.toDynamoDBJson($now),
    "dashboards": $util.dynamodb.toDynamoDBJson([]),
    "password": $util.dynamodb.toDynamoDBJson($ctx.args.input.password)
  }
}