{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key" : {
    "id": $util.dynamodb.toDynamoDBJson($util.autoUlid()),
    "type": $util.dynamodb.toDynamoDBJson($ctx.args.input.type),
    "url": $util.dynamodb.toDynamoDBJson($ctx.args.input.url),
    "data": $util.dynamodb.toDynamoDBJson($ctx.args.input.data),
    "sessionId": $util.dynamodb.toDynamoDBJson($ctx.args.input.sessionId),
  }
}