{
  "version": "2017-02-28",
  "operation": "UpdateItem",
  "key": {
    "id" : $util.dynamodb.toDynamoDBJson($ctx.identity.resolverContext.connectionId)
  },
  "update" : {
    "expression" : "SET #roomId = :roomId",
    "expressionNames" : {
      "#roomId" : "roomId"
    },
    "expressionValues" : {
      ":roomId" : $util.dynamodb.toDynamoDBJson($ctx.stash.id)
    }
  }
}